// COLOR VARIABLES

$color-gray: #777;

$color-ligtgreen:#58e1c1;

$color-lightblue:#51ddfc;

$color-white:#fff;

$color-purple:#927bc1;

// Sizes

$procent100: 100%;

$tenpixels: 10px;

// Breakpoint

$breakpoint: 768px;

