
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $procent100;
    color: $color-white;
    border: none;
    padding: $tenpixels 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-lightblue;
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color: $color-purple;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }
  
  